/* 필수 셀의 색 지정 */
.required-field-style {
  background-color: #fef4f4;
  color: black;
}

/* react-datepicker ->DrivingRecordCopy사용 */
.react-datepicker__input-container input {
  width: 75px;
}
.MuiDataGrid-columnHeader {
  border-right: 1px solid black;
}
