.mainPage-container {
  height: 100%;
}
.nav-container {
  height: 87.1vh;
  width: 245px;
}

.navhide {
  width: 0px;
  height: 87.1vh;
}

.section-container{
  width: 98%;
  height: 100%;
  padding-left: 15px;
  margin-top: 5px;
  
    
}
