.mainPage-container {
  height: 100%;
<<<<<<< Updated upstream
=======
  width: 99.9%;
>>>>>>> Stashed changes
}
.nav-container {
  height: 87.1vh;
  width: 245px;
}

.navhide {
  width: 0px;
  height: 87.1vh;
}
<<<<<<< Updated upstream
=======

.section-container{
  
  width: 98%;
  height: 100%;
  padding-left: 15px;
  margin-top: 5px;
  
    
}
>>>>>>> Stashed changes
