.mainPage-container {
  height: 100%;
<<<<<<< Updated upstream
=======
  width: 99.9%;
>>>>>>> Stashed changes
}
.nav-container {
  height: 87.1vh;
  width: 245px;
  min-width: 17%;
}

.navhide {
  width: 0px;
  height: 87.1vh;
}
